<header>
    <nav class="main-nav">
        <div class="row">
            <img class="logo" src="//placehold.it/100" alt="X">
            <ul class="nav-list">
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Our projects</a></li>
                <li><a href="#">Our team</a></li>
                <li><a href="#">Happy clients</a></li>
                <li><a href="#">Price</a></li>
                <li><a href="#">Some facts</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </div>
    </nav>
</header>