<section class="about">
    <div class="container">
        <div class="row">
            <div class="header col-s-12 col-m-12">
                <h1>About us</h1>
                <p>Who we are?</p>
            </div>
        </div>
        <div class="row">
            <div class="paragraph-about col-s-12 col-m-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis massa non lorem semper, sit
                    amet
                    dictum lectus porta. Nunc sagittis massa nibh, ut ullamcorper lectus aliquet vel. Nulla metus
                    sapien,
                    lobortis a tempor quis, tempus vel urna. Vestibulum congue ante vel dapibus scelerisque. Nam quis
                    magna id
                    magna gravida tristique. Integer porta velit non lectus euismod, vitae suscipit nulla tincidunt.
                    Maecenas
                    eu consequat justo. Vivamus quam diam, lacinia id turpis non, accumsan finibus ipsum. Pellentesque
                    habitant
                    morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam placerat dolor ac augue
                    vehicula tincidunt. Nam vestibulum, quam a ultrices molestie, eros leo laoreet arcu, ac gravida
                    turpis dui
                    ac mauris.
                </p>
                <button>Learn more</button>
            </div>
            <div class="video-about col-s-12 col-m-4">
                <video width="100%" height="auto" autoplay>
                    <source src="./images/Travaho.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</section>