<section class="services">
    <div class="container">
        <div class="row">
            <div class="header col-s-12 col-m-12">
                <h1>Services</h1>
                <p>Services that we provide</p>
            </div>
        </div>
        <div class="row">
            <div class="content-services">
                <div class="box-services col-s-3 col-m-12">
                    <i class="fas fa-medal"></i>
                    <h2>High quality design</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="box-services col-s-3 col-m-12">
                    <i class="far fa-star"></i>
                    <h2>Modern design</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="box-services col-s-3 col-m-12">
                    <i class="far fa-clock"></i>
                    <h2>Regular updates</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="box-services col-s-3 col-m-12">
                    <i class="far fa-comment-dots"></i>
                    <h2>Fast and free support</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>
</section>