<section class="our-projects">
    <div class="container">
        <div class="row">
            <div class="header col-s-12 col-m-12">
                <h1>Our projects</h1>
                <p>What we create</p>
            </div>
        </div>
        <div class="row">
            <div class="list-our-projects">
                <ul>
                    <li><a href="#">All</a></li>
                    <li><a href="#">Photos</a></li>
                    <li><a href="#">Branding</a></li>
                    <li><a href="#">Adverts</a></li>
                    <li><a href="#">Development</a></li>
                    <li><a href="#">Misc</a></li>
                </ul>

            </div>
        </div>
        <div class="row">
            <div class="gallery col-s-3 col-m-6">
                <img class="foto" src="./images/gallery1.jpg" alt="foto">
                <div class="image-overlay">
                    <h3>About</h3>
                    <p>Integer porta velit non lectus euismod, vitae suscipit nulla tincidunt.</p>
                </div>
            </div>
            <div class="gallery col-s-3 col-m-6">
                <img class="foto" src="./images/gallery7.jpg" alt="foto">
                <div class="image-overlay">
                    <h3>About</h3>
                    <p>Integer porta velit non lectus euismod, vitae suscipit nulla tincidunt.</p>
                </div>
            </div>
            <div class="gallery col-s-3 col-m-6">
                <img class="foto" src="./images/gallery3.jpg" alt="foto">
                <div class="image-overlay">
                    <h3>About</h3>
                    <p>Integer porta velit non lectus euismod, vitae suscipit nulla tincidunt.</p>
                </div>
            </div>
            <div class="gallery col-s-3 col-m-6">
                <img class="foto" src="./images/galllery4.jpg" alt="foto">
                <div class="image-overlay">
                    <h3>About</h3>
                    <p>Integer porta velit non lectus euismod, vitae suscipit nulla tincidunt.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="gallery col-s-3 col-m-6">
                <img class="foto" src="./images/gallery5.jpg" alt="foto">
                <div class="image-overlay">
                    <h3>About</h3>
                    <p>Integer porta velit non lectus euismod, vitae suscipit nulla tincidunt.</p>
                </div>
            </div>
            <div class="gallery col-s-3 col-m-6">
                <img class="foto" src="./images/gallery6.jpg" alt="foto">
                <div class="image-overlay">
                    <h3>About</h3>
                    <p>Integer porta velit non lectus euismod, vitae suscipit nulla tincidunt.</p>
                </div>
            </div>
            <div class="gallery col-s-3 col-m-6">
                <img class="foto" src="./images/gallery7.jpg" alt="foto">
                <div class="image-overlay">
                    <h3>About</h3>
                    <p>Integer porta velit non lectus euismod, vitae suscipit nulla tincidunt.</p>
                </div>
            </div>
            <div class="gallery col-s-3 col-m-6">
                <img class="foto" src="images/gallery8.jpg" alt="foto">
                <div class="image-overlay">
                    <h3>About</h3>
                    <p>Integer porta velit non lectus euismod, vitae suscipit nulla tincidunt.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="gallery col-s-3 col-m-6">
                <img class="foto" src="./images/gallery6.jpg" alt="foto">
                <div class="image-overlay">
                    <h3>About</h3>
                    <p>Integer porta velit non lectus euismod, vitae suscipit nulla tincidunt.</p>
                </div>
            </div>
            <div class="gallery col-s-3 col-m-6">
                <img class="foto" src="./images/gallery1.jpg" alt="foto">
                <div class="image-overlay">
                    <h3>About</h3>
                    <p>Integer porta velit non lectus euismod, vitae suscipit nulla tincidunt.</p>
                </div>
            </div>
            <div class="gallery col-s-3 col-m-6">
                <img class="foto" src="./images/gallery3.jpg" alt="foto">
                <div class="image-overlay">
                    <h3>About</h3>
                    <p>Integer porta velit non lectus euismod, vitae suscipit nulla tincidunt.</p>
                </div>
            </div>
            <div class="gallery col-s-3 col-m-6">
                <img class="foto" src="./images/gallery5.jpg" alt="foto">
                <div class="image-overlay">
                    <h3>About</h3>
                    <p>Integer porta velit non lectus euismod, vitae suscipit nulla tincidunt.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="button-gallery col-s-12 col-m-12">
                <button>More projects</button>
            </div>
        </div>
    </div>
</section>