<section class="our-team">
    <div class="container">
        <div class="row">
            <div class="header col-s-12 col-m-12">
                <h1>Our projects</h1>
                <p>What we create</p>
            </div>
        </div>
        <div class="row">
            <div class="team">
                <div class="person col-s-4 col-m-12">
                    <img src="./images/person1.jpg" alt="person">
                    <h2>Jane Doe</h2>
                    <p>Master mind</p>
                    <div class="icon-team">
                        <button class="icon-btn"><i class="fa fa-youtube"></i></button>
                        <button class="icon-btn"><i class="fa fa-facebook"></i></button>
                        <button class="icon-btn"><i class="fa fa-twitter"></i></button>
                        <button class="icon-btn"><i class="fa fa-google"></i></button>
                    </div>
                </div>
                <div class="person col-s-4 col-m-12">
                    <img src="./images/person2.jpg" alt="person">
                    <h2>Mike Shiller</h2>
                    <p>Creative head</p>
                    <div class="icon-team">
                        <button class="icon-btn"><i class="fa fa-youtube"></i></button>
                        <button class="icon-btn"><i class="fa fa-facebook"></i></button>
                        <button class="icon-btn"><i class="fa fa-twitter"></i></button>
                        <button class="icon-btn"><i class="fa fa-google"></i></button>
                    </div>
                </div>
                <div class="person col-s-4 col-m-12">
                    <img src="./images/person3.jpg" alt="person">
                    <h2>Stefan Morrison</h2>
                    <p>Technical lead</p>
                    <div class="icon-team">
                        <button class="icon-btn"><i class="fa fa-youtube"></i></button>
                        <button class="icon-btn"><i class="fa fa-facebook"></i></button>
                        <button class="icon-btn"><i class="fa fa-twitter"></i></button>
                        <button class="icon-btn"><i class="fa fa-google"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="dots">
            <i class="fas fa-ellipsis-h"></i>
        </div>
    </div>
</section>
<section class="clients">
    <div class="container">
        <div class="row">
            <div class="header col-s-12 col-m-12">
                <h1>Happy clients</h1>
                <p>Client reviews</p>
            </div>
        </div>
        <div class="row">
            <div class="clients-img">
                <img src="./images/person3.jpg" alt="client">
                <h2>John Doe</h2>
                <p>Head of PR Depertament</p>
            </div>
        </div>
        <div class="row">
            <div class="clients-opinion">
                <i class="fas fa-quote-left"></i>
                <p class="clients-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis
                    massa non lorem semper, sit amet
                    dictum lectus porta. Nunc sagittis massa nibh, ut ullamcorper lectus aliquet vel. Nulla metus
                    sapien,
                    lobortis a tempor quis, tempus vel urna. Vestibulum congue ante vel dapibus scelerisque. Nam quis
                    magna id
                    magna gravida tristique. Integer porta velit non lectus euismod, vitae suscipit nulla tincidunt.
                    Maecenas
                    eu consequat justo.</p>
            </div>
        </div>
        <div class="dots">
            <i class="fas fa-ellipsis-h"></i>
        </div>
    </div>
</section>