<section class="banners">
    <div class="container">
        <div class="row">
            <div class="banners-img">
                <img src="./images/logo5.png" alt="logo">
                <img src="./images/logo6.png" alt="logo">
                <img src="./images/logo3.png" alt="logo">
                <img src="./images/logo4.png" alt="logo">
                <img src="./images/logo5.png" alt="logo">
                <img src="./images/logo6.png" alt="logo">
            </div>
        </div>
    </div>
</section>