<section class="price">
    <div class="container">
        <div class="row">
            <div class="header col-s-12 col-m-12">
                <h1>Price</h1>
                <p>Pricing table</p>
            </div>
        </div>
        <div class="row">
            <div class="price-table col-s-4 col-m-12">
                <ul>
                    <li>Express</li>
                    <li>$9.99</li>
                    <li>/ Month</li>
                    <li>Tracking Issue</li>
                    <li>-</li>
                    <li>Add bugs through email</li>
                    <li>-</li>
                    <li>Notifications</li>
                    <li>-</li>
                    <li>Time tracking</li>
                    <li>-</li>
                    <li>Custom views</li>
                </ul>
                <button>Choose</button>
            </div>
            <div class="price-table col-s-4 col-m-12">
                <ul>
                    <li>Standart</li>
                    <li>$14.99</li>
                    <li>/ Month</li>
                    <li>Tracking Issue</li>
                    <li>-</li>
                    <li>Add bugs through email</li>
                    <li>-</li>
                    <li>Notifications</li>
                    <li>-</li>
                    <li>Time tracking</li>
                    <li>-</li>
                    <li>Custom views</li>
                </ul>
                <button>Choose</button>
            </div>
            <div class="price-table col-s-4 col-m-12">
                <ul>
                    <li>Luxe</li>
                    <li>$19.99</li>
                    <li>/ Month</li>
                    <li>Tracking Issue</li>
                    <li>-</li>
                    <li>Add bugs through email</li>
                    <li>-</li>
                    <li>Notifications</li>
                    <li>-</li>
                    <li>Time tracking</li>
                    <li>-</li>
                    <li>Custom views</li>
                </ul>
                <button>Choose</button>
            </div>
            <div class="price-table col-s-4 col-m-12">
                <ul>
                    <li>Premium</li>
                    <li>$24.99</li>
                    <li>/ Month</li>
                    <li>Tracking Issue</li>
                    <li>-</li>
                    <li>Add bugs through email</li>
                    <li>-</li>
                    <li>Notifications</li>
                    <li>-</li>
                    <li>Time tracking</li>
                    <li>-</li>
                    <li>Custom views</li>
                </ul>
                <button>Choose</button>
            </div>
        </div>
    </div>
</section>