<section class="some-facts">
    <div class="container">
        <div class="row">
            <div class="header col-s-12 col-m-12">
                <h1>Some facts</h1>
                <p>About our work</p>
            </div>
        </div>
        <div class="row">
            <div class="some-facts-nr col-s-3 col-m-12">
                <h2>1000</h2>
                <p><span>-</span>Design projects released</p>
                <p>Vivamus mollis massa non lorem semper, sit amet
                    dictum lectus porta.</p>
            </div>
            <div class="some-facts-nr col-s-3 col-m-12">
                <h2>900</h2>
                <p><span>-</span>Photos</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="some-facts-nr col-s-3 col-m-12">
                <h2>500</h2>
                <p><span>-</span>Marketing ideas</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="some-facts-nr col-s-3 col-m-12">
                <h2>100</h2>
                <p><span>-</span>Exhibitions</p>
                <p>Vivamus mollis massa non lorem semper, sit amet
                    dictum lectus porta.</p>
            </div>
        </div>
        <div class="row">
            <div class="social-media">

            </div>
        </div>
    </div>
</section>